// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2025
 */

/dts-v1/;
/plugin/;

#include "../microchip/lan969x.dtsi"

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
    overlays {
            carrier.overlay = "4_port_switch_carrier_v01";
    };
};

&i2c_4 {
        #address-cells = <1>;
        #size-cells = <0>;

        ads1015@48 {
                compatible = "ti,ads1015";
                reg = <0x48>;
                #address-cells = <1>;
                #size-cells = <0>;

                channel@4 {
                        reg = <4>;
                };
                channel@5 {
                        reg = <5>;
                };
                channel@6 {
                        reg = <6>;
                };
                channel@7 {
                        reg = <7>;
                };
        };

        sensor@49 {
            compatible = "ti,tmp102";
            reg = <0x49>;
            #thermal-sensor-cells = <1>;
        };
};

&i2c_poe {
	#address-cells = <1>;
	#size-cells = <0>;

	poe0: max5980@2C {
        compatible = "maxim,max5980";
        reg = <0x2C>;

        volt-gpios = <&expander0 0 0>, <&expander0 1 0>,
                     <&expander0 2 0>, <&expander0 3 0>,
                     <&expander0 4 0>, <&expander0 5 0>,
                     <&expander0 6 0>, <&expander0 7 0>,
                     <&expander0 8 0>, <&expander0 9 0>,
                     <&expander0 10 0>, <&expander0 11 0>,
                     <&expander0 12 0>, <&expander0 13 0>,
                     <&expander0 14 0>, <&expander0 15 0>;

        port0@0 {
                enable = <1>;
                mode = "off";
                power = <1>;
				name-ref = <&switch 0>;
        };
        port1@1 {
                enable = <1>;
                mode = "off";
                power = <1>;
				name-ref = <&switch 1>;
        };
        port2@2 {
                enable = <1>;
                mode = "off";
                power = <1>;
				name-ref = <&switch 2>;
        };
        port3@3 {
                enable = <1>;
                mode = "off";
                power = <1>;
				name-ref = <&switch 3>;
        };
	};

	poe1: max5980@2D {
        compatible = "maxim,max5980";
        reg = <0x2D>;

        volt-gpios = <&expander1 0 0>, <&expander1 1 0>,
                     <&expander1 2 0>, <&expander1 3 0>,
                     <&expander1 4 0>, <&expander1 5 0>,
                     <&expander1 6 0>, <&expander1 7 0>,
                     <&expander1 8 0>, <&expander1 9 0>,
                     <&expander1 10 0>, <&expander1 11 0>,
                     <&expander1 12 0>, <&expander1 13 0>,
                     <&expander1 14 0>, <&expander1 15 0>;

        port0@0 {
                enable = <1>;
                mode = "off";
                power = <1>;
                name-ref = <&switch 4>;
        };
        port1@1 {
                enable = <1>;
                mode = "off";
                power = <1>;
                name-ref = <&switch 5>;
        };
        port2@2 {
                enable = <1>;
                mode = "off";
                power = <1>;
                name-ref = <&switch 6>;
        };
        port3@3 {
                enable = <1>;
                mode = "off";
                power = <1>;
                name-ref = <&switch 7>;
        };
	};
};
